.mainContainer{
    text-align: center;
    background-image: linear-gradient(to right bottom, #8700b7, #8211b0, #7c1ba9, #7721a2, #72269b, #6f2593, #6c238b, #682283, #651b79, #61146f, #5d0d65, #59055c);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainNav{
    height: 100vh;
}

.textContainer{
    text-align: center;
    margin: 20%;
    font-size: 20px;
}

.navElement:hover{
    background-color: #fed80183;
    border-radius: 10px;
}

a{
    margin-left: 2%;
    color:#FEDA01;
    text-decoration: none;
    pointer-events: none;
}

a:hover{
    text-decoration: none;
}

.icon{
    width: 10%;
}